.featured {
  height: 100vh;
  position: relative;
  overflow: hidden;

  background: linear-gradient(
      to top,
      transparent,
      rgb(0, 0, 0) 0%,
      rgba(49, 47, 47, 0.1) 80%
    ),
    url(https://assets.nflxext.com/ffe/siteui/vlv3/862cc171-8df5-418c-886f-2aaf767ae159/2e1414e3-cdae-473f-af07-31f9b74741f6/IN-en-20230130-popsignuptwoweeks-perspective_alpha_website_large.jpg);

  // video {
  //   width: 100%;
  //   mask-image: linear-gradient(
  //     to top,
  //     rgba(0, 0, 0, 0) 0%,
  //     rgba(0, 0, 0, 1) 100%
  //   );
  // }

  .info {
    width: 35%;
    position: absolute;
    left: 50px;
    bottom: 100px;
    color: rgb(218, 205, 205);
    display: flex;
    flex-direction: column;
    font-weight: bold;

    .title {
      font-size: 2rem;
      font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande";
      font-weight: 800;
    }

    .description {
      margin: 20px 0px;
      font-family:Arial, Helvetica, sans-serif;
    }

    .buttons {
      display: flex;

      .play {
        background-color: white;
        color: black;
      }
      button {
        border: none;
        cursor: pointer;
        padding: 10px 20px;
        margin-right: 10px;
        font-size: 0.7rem;
        font-weight: 400;
        color: white;
        background-color: rgba(43, 39, 39, 0.707);

        i {
          span {
            padding-left: 0.4rem;
          }
        }
      }
    }
  }
}
